@import 'Scss/_config';

#Footer {
  //background: $c-secondary;
  text-align: center;
  color: $c-secondary;
  min-height: 8vh;
  letter-spacing: 0px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: auto;
  }
}
