.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./Assets/Fonts/Muli-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 800;
  src: local('Muli'), url(./Assets/Fonts/Muli-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 900;
  src: local('Muli'), url(./Assets/Fonts/Muli-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  src: local('Muli'), url(./Assets/Fonts/Muli-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 800;
  src: local('Muli'), url(./Assets/Fonts/Muli-BoldItalic.ttf) format('truetype');
}
