$c-primary: #61c8ce;
$c-secondary: #205072;
$c-pagination: #2cb9aa;

$c-textPrimary: #61c8ce;
$c-textSecondary: #205072;
$c-text-light: #ffffff;
$f-family: 'Muli', sans-serif;
$br-body: #fff;

$btn-primary: linear-gradient(to right, #47cacc, #2cb9aa);
$btn-secondary: #ffffff;

$c-yellow: #f4d174;
$c-red: #f75010;
$c-white: #ffffff;
$c-green: #56c596;
$c-cyan: #61c8ce;

$c-borderInput: #61c8ce;

$fz-body: 14px;

$c-sideBar: #ecfaf7;

$b-borderTable: 1px solid $c-pagination;
