@import 'Scss/_config';

#not-found {
  position: relative;
  height: 100vh;
  .page-style {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  h1 {
    font-size: 146px;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    color: #333333;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
  .page-style a {
    padding: 12px 30px;
    font-weight: 700;
  }
}
